body{
    position: relative;
    top: 0;
    margin: 0;
    
   background-color: #FFFFFF;
   font-family: 'Nunito', sans-serif;
   text-align: left;
  
}

.first-page{
    position: relative;
    top: 0;
    height: max-content;
    margin: 12px 0 64px 0;
}

.color{
    background-color: #FFE4CC;
    width: 38%;
    height: 55vw;
    position: absolute;
    left: 62%;
    z-index: -1;
    margin-top: -12px;
    border-bottom-left-radius: 15px ;
}


header{
    position: relative;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    justify-content: space-evenly  ;
    font-weight: 200;
}

.logo{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center ;
}

.logo-pic{
    width: 61px;
    height: 61px;
    margin-right: 12px;
}

.logo-name{
    font-family: Playfair Display SC;
    font-size: 24px;
    color: #3E3F43;
    letter-spacing: 0.25em;
}


.nav-list{
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.nav-item-a{
    text-decoration: none;
    color: #222222;
}
.nav-item{
    padding: 0 15px;
    cursor: pointer;
}
.nav-item-a:hover{
    color:#8E664A;
    font-weight: 700;
}

.user-block{
    position: relative;
    display: flex;
    padding: 11px;
    background-color: #8E664A;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.user-block-wrapper{
    position: relative;
    height: 18px;
}
.user-block-pic{
    position: relative;
    margin: 0 12px;
    width: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.user-block-numb{
    padding: 1px 5px;
    background-color: #FFE4CC;
    font-size: 10px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position:absolute;
    top:-8px;
    left:20px;
}

.first-block{
    position: relative;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-block-text{
/* 
    float: left;
    width: 519px;
    margin-left: 130px; */

    width: 45vw;
}

.title{
    font-family: Nunito;
    font-weight: 600;
    font-size: 34px;
    margin: 0 0 14px 0;
}
.big-title{
    font-family: Nunito;
    font-weight: bold;
    font-size: 72px;
    line-height: 1.2em;
    margin: 0 0 30px 0;
}

.first-picture{
    float: right;
}
.main-pic{
    max-width: 593px;
}
.button{
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    width:180px;
    border:none;
    background-color: #3C693B;
    padding: 14px 24px;
    color: #FFFFFF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.second-page{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    align-items: center;
}

.title-block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0 ;
    /* width: 950px; */
    width: 50vw;
    max-width: 950px;
}

.title-text{
    white-space :nowrap;
    font-family: Nunito;
    font-weight: bold;
    font-size: 26px;
    color: #3E3F43;
    margin: 0;
    width: max-content;
}

.dash{
    content: '';
    display: inline-block;
    border-top: 2px solid rgba(34, 34, 34, 0.1);
    width: 100%;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 7px;
}


.gray-title{
    white-space :nowrap;
    font-family: Nunito;
    font-weight: 800;
    font-size: 61px;
    line-height: 83px;
    text-align: right;
    color: rgba(34, 34, 34, 0.1);
    margin: 0;
}

.second-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.par-pic1{
    margin-left: 50px;
}
.second-text1{
    width: 500px;
    margin-left: 50px;
}

.second-text2{
    width: 580px;
    margin-left: 50px;
}
.par-pic2{
    max-width: 275px;
    width: 24%;
    height: auto;
}
.paragr{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    max-width: 940px;
}

.third-page{
    margin:  50px 0 80px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    align-items: center;
}

.third-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.third-list{
    margin-top: 20px ;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.third-list-item{
    position: relative;
    width: 230px;
    padding-left: 0 20px;
    margin-bottom: 20px;
}

.third-list-numb{
    position: absolute;
    top: 23px;
    font-family: Nunito;
    font-weight: 600;
    font-size: 96px;
    color: #FFE4CC;
    opacity: 43%;
    
}

.third-list-img{
    position: relative;
    width: 130px;
    margin-left: 40px;

}

.third-list-pic{
    position: relative;
    margin: 0;
    width: 100%;
}

.third-text{
    text-align: center;
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.order{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
}


.fourth-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 26px;
    align-items: center;
}

.cat{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
.cat-name{
    font-family: Nunito;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #3E3F43;
}
.cat-item{
    margin:  30px;
    padding: 43px 23px;
    background-color: #FFE4CC;
    width: 290px;
    border-top-right-radius: 30% ;
    border-bottom-left-radius: 30%;
}

.cat-wrapper{
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.cat-but{
    border: 2px solid #3E3F43;
    color: #3E3F43;
    font-family: Nunito;
    font-weight: bold;
    font-size: 16px;
    width:150px;
    background-color: transparent;
    padding: 10px 18px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-left: 50%;
    text-decoration: none;
}

.subscribe{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 60px;
}

.sub-text{
    padding-right: 50px;
}

.sub-title{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    display: block;
    color: #000000;
}

.sub-paragr{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    width: 476px;
    color: #000000;
    display: block;
}

.sub-interactive{
    position: relative;
    white-space: nowrap;
    margin-top: 20px;
    
}

.email{
    padding: 16px 16px 15px 16px;
    margin: 0;
    border: 2px solid #3C693B;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 300px;
    
}

.sub-but{
    margin-left: -15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
}


.footer{
    display: flex;
    justify-content:space-evenly

}

.contact{
    list-style: none;
    width: 183px;
    height: 175px;
   
}


.footer-title{
    font-family: Nunito;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 34px;
    margin-top: 18px;
}

.footer-item{
    text-decoration: none;
    font-family: Nunito;
    font-weight: normal;
    font-size: 16px;
    color: #8D8D8D;
    padding-bottom: 16px;
}

.footer-item-a{
    text-decoration: none;
    font-family: Nunito;
    font-weight: normal;
    margin-bottom: 16px;
    color: #8D8D8D;
}



.logo-footer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center ;
    margin-right: 80px;
    margin-bottom: 16px;
    
}

.logo-pic-footer{
    width: 61px;
    height: 61px;
    margin-right: 12px;
}

.logo-name-footer{
    font-family: Playfair Display SC;
    font-size: 24px;
    color: #3E3F43;
    letter-spacing: 0.25em;
}

.author{
    padding-top: 90px;
    padding-bottom: 10px;
    text-align: center;
}

.dash-footer{
    content: '';
    display: flex;
    border: 1px solid #C4C4C4;
    width: 70%;
    
    position: relative;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 7px;
}



@media all and (max-width:1100px){
    .title-text{
        display: none;

    }
    .dash{
        display: none;
    }
}

@media all and (max-width:730px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-title{
        padding-bottom: 14px;
    }
    .contact{
        height: max-content;
    }

    .paragr{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .par-pic1 , .par-pic2{
        max-width: 275px;
        width: 55%;
        height: fit-content;
    }

    .sub-text{
        padding: 0;
    }


    .cat-item{
        margin:  20px;
        padding: 20px 20px;
        width: 240px;
        border-top-right-radius: 30% ;
        border-bottom-left-radius: 30%;
    }

    .cat{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .cat-wrapper{
        height: 190px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .cat-pic{
        height: 100%;
    }

    .email{
        padding: 6px 6px 5px 6px;
        position: relative;
        top: 2px;
        width: 150px; 
    }

    .sub-but {   
        font-size: 10px;
        width: 100px;
        padding: 8px 16px;
    }

    .color{
        height: 81vh;
    }

    .first-block-text{
        width: 65vw;
    }

    .first-block{
        margin-top: 50px;
    }

    .first-picture{
        display: none;
        width: 65vw;
    }

    .first-block-text{
        width: 100%;
        text-align: center;
    }

    .title{
        font-size: 7vw;
    }
    .big-title{
        font-size: 9vw;
    }
    
    .second-text1 , .second-text2{
        width: 80%;
        font-size: 4vw;
        margin: 5px 0;
    }

    .sub-paragr{
        width: 300px;
        margin: 0;
        
    }

    .gray-title{
        font-size: 8vw;
    }

}


@media all and (max-width:557px){
    .sub-text{
        padding: 0;
        text-align: center;
    }
}